.ImageOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.904);
}

.image-viewer {
    height: 80%;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    color: var(--white);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    text-align: center;
}