@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap');

:root {
    --white: #ffffff;
    --black: #000000;
    --tomato: #ff6347;
    --darkgreyfour: #404040;
    --turquoise: #40d8d8;
    --lightgrey: #999999;
    --darkgreyone: #101010;
    --darkgreytwo: #202020;
    --darkgreythree: #303030;
    --discordcolor: #2e3136;
    --discordcolortwo: #2A2D32;
    --defaultfont: 'Poppins', sans-serif;
    --oranssinvastavari: #056DFF;
  }

.Home {
    background: #404040 url('../images/mokki1.jpg') no-repeat fixed;
    background-size: cover;
    display: flex;
    min-height: 100vh;
    color: var(--tomato);
    overflow: hidden;
}

.Home > header {
    text-shadow: 3px 3px 6px var(--black); 
    font-family: 'Poppins', sans-serif;
    text-align: center;

    width: 100%;

    padding: 10px;

    background: rgba(0,0,0,.6);
    -moz-animation: fadeInBackground 1s ease-int both;
    -webkit-animation: fadeInBackground 1s ease-in both;
    -ms-animation: fadeInBackground 1s ease-in both; 
    -o-animation: fadeInBackground 1s ease-in both; 
    animation: fadeInBackground 1s ease-in both;
}

.Home > header h1 {
    padding: 25vh 0 0;
    font-size: 4em;
    font-family: 'Poppins', sans-serif;
    -moz-animation: fadeInHeader1 1s ease-int both;
    -webkit-animation: fadeInHeader1 1s ease-in both;
    -ms-animation: fadeInHeader1 1s ease-in both; 
    -o-animation: fadeInHeader1 1s ease-in both; 
    animation: fadeInHeader1 1s ease-in both;

}
.Home > header h2 {
    padding: 3vh 0 0;
    font-size: 1.3em;
    font-family: 'Poppins', sans-serif;
    -moz-animation: fadeInHeader2 1s ease-int both;
    -webkit-animation: fadeInHeader2 1s ease-in both;
    -ms-animation: fadeInHeader2 1s ease-in both; 
    -o-animation: fadeInHeader2 1s ease-in both; 
    animation: fadeInHeader2 1s ease-in both;

}
.Home > header h3 {
    padding: 13vh 0 0;
    font-size: .6em;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    -moz-animation: fadeInHeader3 1s ease-int both;
    -webkit-animation: fadeInHeader3 1s ease-in both;
    -ms-animation: fadeInHeader3 1s ease-in both; 
    -o-animation: fadeInHeader3 1s ease-in both; 
    animation: fadeInHeader3 1s ease-in both;

}

@keyframes fadeInHeader1 {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@keyframes fadeInHeader2 {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@keyframes fadeInHeader3 {
    from {
        opacity: 0;
        transform: translate3d(0, 25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@keyframes fadeInBackground {
    from {
		opacity: 0.3;
	} to {
		opacity: 1;
	}
} 

@-moz-keyframes fadeInHeader1 {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@-moz-keyframes fadeInHeader2 {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@-moz-keyframes fadeInHeader3 {
    from{
        opacity: 0;
        transform: translate3d(0, 25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@-moz-keyframes fadeInBackground {
    from {
		opacity: 0.4;
	} to {
		opacity: 1;
	}
}

@-webkit-keyframes fadeInHeader1 {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@-webkit-keyframes fadeInHeader2 {
    from {
        opacity: 0;
        transform: translate3d(0, -25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@-webkit-keyframes fadeInHeader3 {
    from {
        opacity: 0;
        transform: translate3d(0, 25%, 0);
    } to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    
}

@-webkit-keyframes fadeInBackground {
    from {
		opacity: 0.4;
	} to {
		opacity: 1;
	}
}

